#margin-wrapper {
	width: 100%;
}
img {
	max-width: 100%;
}
@media (min-width: 1200px) {
	#margin-wrapper {
		margin: 0 auto;
		width: 1200px;
	}
}
.fig-float {
	margin: 0;
	float: right;
	max-width: 100%;
}
#navbar {
	display: inline;
}